@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(107, 107, 241);
    width: 100vw;
    height: 95vh;
}

header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    height: 8vh;
    margin-top: 20px;
}

main {
    height: 80vh;
    position: relative;
}

section {
    background-color: white;
    width: 500px;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section div {
    display: block;
    text-align: left;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    font-weight: bold;
}
section div#formulario {
    height: 80px;
}

section div#formulario input#iano {
    width: 100px;
}

section div#formulario input#enviar {
    display: block;
    background-color: rgb(128, 128, 241);
    color: white;
    width: 100px;
    height: 25px;
    padding: 3px;
    margin: 10px auto 0px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

section div#formulario input#enviar:hover {
    text-decoration: underline;
    background-color: rgb(52, 52, 245);
    border: 1px solid rgb(72, 72, 211);
}

section div#msg {
    text-align: center;
}

section div#imagem {
    display: none;
    background-image: url("images/crianca-fem.jpg");
    background-position: center center;
    background-size: cover;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    height: 5vh;
}